{% cache using key 'content_stats_widget' %}
{% set sectionHandles = settings.sectionHandle %}
{% set sectionCount = 0 %}

<h1 class="stats_group_title">Content</h1>
<div class="stats_row">
	{% for handle in sectionHandles %}
		{% if settings.showSection[handle] == 1 %}
			{% if settings.sectionLabel[handle] != '' %}
				{% set label = settings.sectionLabel[handle] %}
			{% else %}
				{% set label = craft.sections.getSectionByHandle(handle).name ~ ' Entries' %}
			{% endif %}
			
			<a class="stats_item" href="{{ url('entries/' ~ handle) }}">
				<p>{{ craft.entries.section(handle).status(settings.showStatus[handle]).total() }}</p>
				<h2>{{ label }}</h2>
			</a>
			
			{% set sectionCount = sectionCount + 1 %}
		{% endif %}
	{% endfor %}
</div>

{% if sectionCount == 0 %}
	There are no stats to be shown. Edit the settings for this widget to enable stats.
{% endif %}
{% endcache %}

{% includecss %}
	.widget.contentstats_stats .stats_group_title {
		margin-bottom: 8px;
		font-size: 1.3rem;
	}
	.widget.contentstats_stats .stats_row {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: row wrap;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0 -5px 20px;
	}
	.widget.contentstats_stats .stats_row:last-child {
		margin-bottom: 0;
	}
	.widget.contentstats_stats .stats_item {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-flow: column nowrap;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-flex: 1 1 110px;
		-ms-flex: 1 1 110px;
		flex: 1 1 110px;
		margin: 0 5px 10px;
		padding: 10px 20px;
		background-color: rgb(235, 237, 239);
		box-sizing: border-box;
		text-align: center;
		color: rgb(51, 63, 77);
		transition: background .14s ease-out, color .14s ease-out;
	}
	.widget.contentstats_stats .stats_item:hover {
		background-color: #e5e6e8;
		text-decoration: none;
		color: rgb(218, 91, 75);
	}
	.widget.contentstats_stats .stats_item > p {
		display: block;
		margin: 0 0 10px;
		font-size: 2.6rem;
		word-wrap: normal;
		line-height: 1;
	}
	.widget.contentstats_stats .stats_item > h2 {
		display: block;
		text-transform: uppercase;
		word-wrap: normal;
		font-size: .75rem;
		font-weight: normal;
	}
{% endincludecss %}